---
// import '../styles/global.css'
import "tailwindcss";
---
<nav class="flex space-around list-none justify-around p-3">
    <li><a href="/">Главная</a></li>
    <li><a href="/portfolio">Портфолио</a></li>
    <li> <a href="/prices">Цены</a></li>
    <li> <a href="/jokes">Jokes</a></li>
    <li> <a href="/dark">Dark jokes</a></li>
</nav>

<!-- <style>
    nav{
        list-style: none;
        justify-content: space-around;
    }
</style> -->